.transaction-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-form {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.transaction-form label {
    font-weight: bold;
}

.transaction-form input,
.transaction-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.transaction-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.transaction-form button:hover {
    background-color: #0056b3;
}